@import "../variables/variables.scss";


.form__input {
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.light {
  background-color: $VeryLightGray;
  color: $VeryDarkGrayishBlue;
}

.dark {
  background-color: $VeryDarkDesaturatedBlue;
  color: $VeryLightGray;
}
