* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 660px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  head {
    height: 90px;
    padding: 10px 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;

    input {
      border: 1px solid rgba(0, 0, 0, 0.15);
      //box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      padding: 10px;
      font-size: 28px;
      border-radius: 4px;
    }
    button {
      padding: 10px;
      cursor: pointer;
    }
  }

  footer {
    height: 90px;
    padding: 10px 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
  }

  body {
    padding: 40px;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .App {
    top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transform: none;
  width: auto;
  }
  
}